.wrapper {
  display: flex;
  justify-content: space-between;
}

.flexItem {
  flex: 1;
  margin-right: 1em;
}

.flexItem:last-child {
  margin-right: 0;
}

.emojiText {
  white-space: pre-wrap;
}

.textarea {
  width: 100%;
  min-height: 20em;
  box-sizing: border-box;
}

.emojiPicker {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
}

.hide {
  display: none;
}
